/* body {
    font-family: "Avenir Next";
} */

.bg-image {
  background-image: url("../../img/透過画像.jpg");

  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;

  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;

  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;

  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;

  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #000000;
}

li {
  list-style: none;
}

a {
  text-decoration: none; /* リンクの下線なし */
}

.header {
  background: #77c2b9;
  height: 90px;
}

.header a {
  color: #2f5167;
}

.header-logo {
  font-size: 36px;
  float: left;
  padding: 20px 40px; /* 上下20px 左右 40pxの余白 */
  color: #2f5167;
}

.header-list li {
  float: left;
  padding: 33px 20px; /* 上下33px 左右 20pxの余白 */
  color: #2f5167;
}

.main {
  /*background: #dce5ec;*/
  height: 600px;
  padding: 10px;
}

.backPage {
  margin: 0 auto;
}

/* jsで追加したdiv */
.resultFrom {
  margin: 50px 150px;
  background: #fde5c5;
}

.favoriteButton {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #cd659f;
  border: solid 2px #cd659f;
  border-radius: 3px;
  transition: 0.4s;
  background: #fde5c5;
}

.resultFrom h1 {
  color: #2f5167;
}
.resultFrom h3 {
  color: #2f5167;
}
.footer {
  background-color: #2f5167;
  color: #fff;
  height: 10px;
  padding: 50px;
}
.footer-logo {
  font-size: 32px;
  float: left;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}

.form-white {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #000000;
  background: #ffffff;
  border-left: solid 30px #000080;
  opacity: 0.7;
}


*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container form {
  border: 1px solid gray;
  border-radius: 50px;
  padding: 100px;
}

.container button {
  width: 150px;
  height: 40px;
}

.form-white {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #000000;
  background: #ffffff;
  border-left: solid 30px #000080;
  opacity: 0.7;
}

input {
  font-size: 1.5em;
}

.btn {
  background: yellow;
}
