/******************************************************************************
  共通
******************************************************************************/
html, body {
  height: 100%; /* コンテンツ領域の確保 */
}

/* navbar */
.navbar.navbar-dark a.navbar-brand {
  color: #fafafa;
}
.navbar.navbar-dark a.navbar-brand:hover {
  color: #fafafa;
}
.navbar-text-content {
  color: #fafafa;
}

/******************************************************************************
  signin, signup
******************************************************************************/
.signin,
.signup {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.signin .form-signin,
.signup .form-signup {
  width: 100%;
  max-width: 620px;
  padding: 3em 3em 1em;
  background: #fafafa;
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 20px 60px -10px;
}
.signin .form-signin .form-control, 
.signup .form-signup .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.signin .form-signin .form-control:focus,
.signup .form-signup .form-control:focus {
  z-index: 2;
}
.signin .form-signin input, 
.signup .form-signup input {
  margin-bottom: -1px;
  border-radius: 0;
}
.signin .form-signin .form-control-first,
.signup .form-signup .form-control-first {
  border-top-right-radius: .25rem;
  border-top-left-radius: .25rem;
}
.signin .form-signin .form-control-last, 
.signup .form-signup .form-control-last {
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

/******************************************************************************
  現金出納帳一覧
******************************************************************************/
/* クリックできる行はマウスカーソルをポインタに変える */
.table tbody tr[data-href]:hover {
  cursor: pointer;
}
