*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container form {
    border: 1px solid gray;
    border-radius: 50px;
    padding: 100px;
}

.container button {
    width:150px;
    height:20px;
}

