.bg-image {
    background-image: url("../img/透過画像.jpg");

    /* 画像を常に天地左右の中央に配置 */
    background-position: center center;

    /* 画像をタイル状に繰り返し表示しない */
    background-repeat: no-repeat;

    /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
    background-attachment: fixed;

    /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
    background-size: cover;

    /* 背景画像が読み込まれる前に表示される背景のカラー */
    background-color: #000000;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container form {
    border: 1px solid gray;
    border-radius: 50px;
    padding: 100px;
}

.container button {
    width: 150px;
    height: 40px;
}

.form-white {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #000000;
    background: #ffffff;
    border-left: solid 30px #000080;
    opacity: 0.8;
}

input {
    font-size: 1.5em;
}

.btn {
    background: yellow;
}

::placeholder {
    /*color: blue;*/
    font-size: 0.8em;
}