<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ログイン画面</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body class="bg-image">
<div class="container">
    <form action="" method="POST" class="form-white" >
        <h1>ログイン画面</h1>
        <a>IDを入力してください。</a><br>
        <input type="id" name="username"><br>
        <a>パスワードを入力してください。</a><br>
        <input type="password" name="password"><br>
        <button>サインイン</button>
        <!---->
    </form>
</div>
</body>
</html>