<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ArtistMyPage</title>
    </head>
    <body>
        <div>
            <h1>アーティスト名</h1> 
            <p>アーティストID</p>
        </div>
        <button>編集</button>
        <div>
            <h3>メンバー</h3>
            ここにつらつらメンバー並べる
        </div>
        
        <div>
            <h3>ファン層</h3>
            
            <ul>年齢層</ul>
            <ul>性別</ul>
            <ul>音楽ジャンル</ul>
        </div>
        <div>
            <h3>ライブの雰囲気</h3>

            <p>ここ紹介文</p>
        </div>

    </body>
</html>