<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>アーティスト検索</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="custom.css">

    <script defer src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>

<body class="bg-image">
</body>

<form>
    <div class="form-group align-items-center">

        <div class="col-auto my-5">
            <label>年齢</label>
            <select class="custom-select" name="age" id="inlineFormCustomSelect">
                <option value="">選択しない</option>
                <option value="under_twenty">~20</option>
                <option value="twenties">20~30</option>
                <option value="thirties">30~40</option>
                <option value="forties">40~50</option>
                <option value="fifties">50~60</option>
                <option value="over_seventy">70~</option>
            </select>
        </div>

        <div class="col-auto my-5">
            <label>性別</label>
            <select class="custom-select" name="sex" id="inlineFormCustomSelect">
                <option value="">選択しない</option>
                <option value="male">男</option>
                <option value="female">女</option>
            </select>
        </div>
        <!--
        <div class="dropdown col-auto my-5">
            <button class="btn btn-default dropdown-toggle" type="button" name="sex" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">性別
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdown_sex">
                <li><a href="#">選択しない</a></li>
                <li><a href="#">男</a></li>
                <li><a href="#">女</a></li>
            </ul>
        </div>
        -->

        <div class="col-auto my-5">
            <label>求める音楽性</label>
            <select class="custom-select" name="sound" id="inlineFormCustomSelect">
                <option value="">選択しない</option>
                <option value="pop">POP</option>
                <option value="dance">ダンス</option>
                <option value="animation">アニメ</option>
                <option value="jazz">ジャズ</option>
                <option value="reggae">レゲエ</option>
                <option value="rbsoul">R&Bソウル</option>
                <option value="classicalMusic">クラシック</option>
                <option value="electronicMusic">エレクトロニック</option>
                <option value="rock">ロック</option>
                <option value="world">ワールド</option>
                <option value="alternative">オルタナティブ</option>
                <option value="popularSong">歌謡曲</option>
                <option value="blues">ブルース</option>
                <option value="hiphopRap">ヒップホップ＆ラップ</option>
            </select>
        </div>

        <div class="col-auto my-5">
            <input type="reset" value="リセット">
            <input type="submit" value="送信">
        </div>
    </div>
</form>

</html>