<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>検索結果</title>
    <link rel="stylesheet" href="../static/css/searchResult/searchResults.css">
</head>
<body>

    <div class = "header">
        <div class="header-logo">MusicLinker</div>
        <div class="header-list">
            <ul>
                <li><a href="../templates/mypageUser.html">マイページ</a></li>
                <li>検索画面</li>
            </ul>
        </div>
    </div>

    <div class = "main">

    </div>

    <div class = "footer">
        <div class = "footer-logo">
            <li>MusicLinker</li>
        </div>
        <div class = "footer-list">
            <ul>
                <li>リスト1</li>
                <li>リスト2</li>
                <li>リスト3</li>
            </ul>
        
        </div>
    </div>

</body>
</html>