<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <title>検索結果</title>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
    <!--<script src="../static/js/searchResults.js"></script>-->
    <link rel="stylesheet" href="../static/css/searchResult/searchResults.css" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <script>
        function favorite() {
            window.alert("お気に入り登録しました。");
        }
    </script>
</head>

<body class="bg-image">
    <nav class="navbar navbar-expand-sm navbar-dark mb-3" style="background-color:#4898A8;">
        <a class="navbar-brand" onclick="location.href='./top'">MusicLinker</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav"></ul>
        </div>
        <form class="form-inline">
            <div class="text-white nameArtist">
                <span>アーティスト検索結果</span>
            </div>
        </form>
    </nav>



<div class="container">
    <div class="form-white" style="text-align: center">

        <div class="container-fluid">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>

                    <tr>
                        <th></th>
                        <th>アーティスト名</th>
                        <th>ファン層の年齢</th>
                        <th>ファン層の性別</th>
                        <th>音楽性</th>
                    </tr>
                    </thead>
                    <tbody>
                    <form action="/searchResults" method="post">
                        {% for i in range(0,len(artists)) %}
                        <tr>
                            <td>
                                <input type="submit" value="お気に入り登録" class="btn btn-lg button" type="submit"
                                       style="font-size : 100%;background-color:#4898A8;color:white;">
                                <input type="hidden" name="favorite" value="{{ artist.attr[" id"] }}" class="btn btn-lg button">
                            </td>
                            <td>{{ artists[i].attr["artist_name"] }}</td>
                            <td>{{ artists[i].attr["fan_class"] }}</td>
                            <td>{{ artists[i].attr["sex"] }}</td>
                            <td>{{ artists[i].attr["id"] }}</td>
                        </tr>
                        {% end %}
                    </form>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"

        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>