<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/signupUser.css">
    <title>新規登録</title>
</head>
<body class="bg-image">
<div class="container">
    <form action="" method="" class="form-white">
        <h1>あなたのことを教えてください。</h1>
        <a>あなたのIDを作ってください。</a><br>
        <input type="id" name="username"><br>
        <a>あなたのパスワードを教えてください。</a><br>
        <input type="password" name="password"><br>
        <br>
        <a>＊パスワードは〜文字以上で、英数字のみを使ってください。＊</a><br>
        <button>新規作成</button>
    </form>
</div>
</body>
</html>