<!DOCTYPE html>
<html lang="ja">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/signupUser.css">
    <title>新規登録</title>
</head>
<body class="bg-image">

<nav class="navbar navbar-expand-sm navbar-dark mb-3" style="background-color:#4898A8;">
    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4"-->
    <!--aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--<span class="navbar-toggler-icon"></span>-->
    <!--</button>-->
    <a class="navbar-brand" href="top.html">MusicLinker</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
        </ul>
    </div>
    <form class="form-inline">
        <!--<button class="btn btn-light" type="submit" onclick="location.href='./login.html'">ログイン</button>-->
        <div class="text-white">サポーターサインアップ</div>
    </form>
</nav>

<div class="container">
    <form action="" method="" class="form-white" style="text-align: center">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md">
                    <h1 class="font-weight-bold">SupporterEntry</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md">
                    <p></p>
                </div>
            </div>

            <div class="row">
                <div class="col-md">
                    <div>Eメールアドレス</div>
                    <p style=”line-height:200%;”>
                        <input type="id" name="username" placeholder="(例)k○○○kk@aitch.ac.jp" required>
                    </p>
                    <div>パスワード</div>
                    <!--<p style=”line-height:200%;”>-->
                    <input type="password" name="password" placeholder="(例)abc123" required>
                    <!--</p>-->
                    <div style="font-size : 70%" align="right">半角英数6文字以上　</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md"><p></p></div>
        </div>

        <div class="row">
            <div class="col-md">
                <input class="btn btn-lg" type="reset" value="リセット"
                       style="font-size : 100%;background-color:#4898A8;color:white;">
                <input class="btn btn-lg button" onclick="submitfnc('top.html')" type="submit" value="送信"
                       style="font-size : 100%;background-color:#4898A8;color:white;">
            </div>
        </div>
    </form>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>